  .main {
      height: 90%;
      width: 100vw;
      z-index: 9;
      text-align: center
  }
  
  .mmain {
      height: 100vh;
      background: url(../img/789.jpg) no-repeat center;
      background-size: cover;
  }
  
  html body {
      overflow: hidden;
      margin: 0px !important;
      padding: 0px;
  }
  
  .main .a1 {
      width: 100%;
      margin: 0 auto;
      color: white;
      height: 70%;
      margin: 0px auto !important;
      padding-top: 10vh;
  }
  
  .title {
      font-size: 4em;
      font-weight: bold;
      font-family: 微軟正黑體;
      letter-spacing: 0.3em;
      margin: 0px auto !important;
  }
  
  .titleen {
      font-size: 1.5em !important;
      font-weight: bold;
      font-family: Arial Black;
      letter-spacing: 0px;
      margin: 0px auto !important;
  }
  
  .button {
      height: 30%;
  }
  
  img {
      height: 20vh;
      width: 30vw;
  }
  
  button {
      width: 15vw;
      height: 20%;
      border: 5px solid white;
      color: white;
      font-size: 1.8em;
      font-weight: bold;
      border-radius: 10%;
      font-family: 微軟正黑體;
      transition: all 0.6s;
  }
  
  footer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 10%;
      position: absolute;
      left: 0;
      bottom: 0px;
      text-align: center;
      line-height: 1.3em;
      font-size: 1.3em;
      color: rgba(224, 216, 216, 1.00);
      font-weight: bold;
      font-family: 微軟正黑體;
  }
  
  .a1-1 {
      height: 40%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto !important;
      background: url(../img/a5.png) no-repeat center center;
      background-size: contain;
  }
  
  .a1-2 {
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto !important;
  }
  
  .a1-3 {
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto !important;
  }
  
  .main {
      margin: 0% !important;
  }
  
  @media screen and (max-width: 1200px) {
      button {
          width: 30vw;
          height: 10vh;
      }
      footer {
          font-size: 16px !important
      }
      .datali img {
          width: 50px
      }
      .index .title {
          font-size: 3em !important
      }
      .index .titleen {
          font-size: 1.5em !important;
      }
  }
  
  @media screen and (max-width: 1000px) {
      footer {
          font-size: 12px !important
      }
  }