.main .a2 {
    display: inline-block;
    font-family: "å¾®è»Ÿæ­£é»‘é«”";
    padding-left: 80px;
    height: 500px;
    vertical-align: top;
}

.main {
    margin: 60px 0px;
}

.main-2 {
    padding-left: 40px;
    padding-right: 40px;
}

.main-3 {
    padding-left: 40px;
    padding-right: 40px;
}

.main .text p {
    padding-top: 0px
}

td {
    height: 60px;
    width: 60px;
    padding: 20px;
}

.ä»‹ç´¹ li {
    color: #000;
    list-style-type: decimal;
    font-size: 2em;
    line-height: 50px;
}

.ä»‹ç´¹ a {
    text-decoration: none;
}

.main-2 ul {
    padding-left: 100px;
}

footer {
    background: #8da7e0;
    width: 100%;
    height: 50px;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    color: rgba(45, 39, 39, 1.00);
    font-weight: bold;
    font-family: "å¾®è»Ÿæ­£é»‘é«”";
}
     @media screen and (max-width: 1200px){
nav{
    height: 150px !important;
    line-height:3000px !important;
}
.content{
    margin-top: 180px;
}
nav li{
    line-height: 150px !important;
            font-size: 2em !important;

}
nav img{
     display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
}
.main-2 p{
    font-size: 2em
}
}