    a {
        color: white;
        text-decoration: none;
    }
    
    a:visited {
        color: white;
    }
    
    a:hover {
        transition: all 0.6s;
        color: #8593DB;
        text-decoration: none;
        font-weight: bold;
    }
    
    .lia {

        float: left;
        width: 11%;
        list-style: none;
        color: #000;
        font-family: 微軟正黑體;
        font-weight: bold;
        font-size: 1.3em;
        line-height: 3em;
        text-align: center;
    }
    
    .lia span {
        background: #8593DB;
        border-radius: 10%;
        padding: 2% 5%;
        color: white;
    }
    
    .lia img {
        width: 100%;
        height: 100%;
    }
    
    .lib {
        float: left;
        list-style: none;
        color: #000;
        font-family: 微軟正黑體;
        font-weight: bold;
        font-size: 0.9em !important;
        line-height: 1em;
        text-align: center;
    }
    
    .ula {
        padding-left: 0%;
    }
    
    .ulb {
        padding-left: 0%;
        height: 100%;
        width: 50vw ;
    }
    
    .nav {
         padding: 0% 2%;
        background: rgba(151, 214, 252, 0.8);
        width: 100%;
        height: 120px;
        margin: 0px;
        position: fixed;
        top: 0px;
        z-index: 99;
    }
    
    .top {
        position: fixed;
        top: 70%;
        right: 0.5%;
        opacity: 0.6;
        animation-name: atop;
        animation-duration: 3s;
    }
          .top img{
    width: 100px;
    height: 100px;
}
    
    @keyframes atop {
        from {
            top: 0%;
        }
        to {
            top: 70%;
        }
    }
    
    .top:hover {
        opacity: 0.9;
    }
