 a {
            color: #000;
            text-decoration: none;
        }
        
        a:visited {
            color: white;
        }
        
        .lia a:hover {
            text-decoration: none;
            font-weight: bold;
            color: #AB8868;
          border-bottom:5px solid #AB8868;
           padding: 10px 30px;

            transition: all 0.6s;

        }
        
        .lia img {
            width: 100%;
            height: 100%;
        }

        .lia span{border-bottom:0px solid #AB8868;
            
        }
        
        .lia {           
           padding: 10px 0px;


            float: left;
            width: 11%;
            list-style: none;
            color: #000;
            font-family: 微軟正黑體;
            font-weight: bold;
            font-size: 30px;
            line-height: 90px;
            text-align: center;
        }
        
        .lib {
            float: left;
            list-style: none;
            color: #000;
            font-family: 微軟正黑體;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
        }
        
        .ula {
            padding-left: 0px;
        }
        
        .ulb {
            padding-left: 0px;
            height: 50px;
            width: 500px;
        }
        
        .nav {
            background: rgba(151, 214, 252, 0.7);
            width: 100%;
            height: 150px;
            padding: 0px;
            margin: 0px;
            position: fixed;
            top: 0px;
            z-index: 99;
        }



 .top {
            position: fixed;
            top: 70%;
            right: 0%;
            opacity: 0.8;
            animation-name: atop;
            animation-duration: 3s;
        }
        .top img{
            width: 180px;
            height: 180px;
        }
        
        @keyframes atop {
            from {
                top: 0%;
            }
            to {
                top: 70%;
            }
        }
        
        .top:hover {
            opacity: 1;
        }