.content-1{
    background: rgba(213, 211, 211, 0.8)
}
.dataol {
    list-style: none;
}

.datali img {
    width: 100px
}

.datali {
    font-size: 2em;
    line-height: 1em;
    color: #000;
    padding: 5%;
    
    font-family: 微軟正黑體;
}

.title {
    color: #000;
    font-size: 2.3em;
    font-weight: bold;
}
.mmain{
    margin-top: 10%;
}
@media screen and (max-width: 1200px){
    .datali{
        font-size:15px !important;
    }
    .title{
        font-size: 2em !important;
    }
    .datali img {
    width: 60px
}
}