     body {
         font-family: 微軟正黑體;
     }
      @media screen and (max-width: 1200px) {
       p {
         font-size: 25px ;
     }
     h1{
        font-size: 40px;
     }
 }
 h1{
    font-size: 50px;
    letter-spacing: 15px;

 }
 p{
    font-size: 30px;
 }
     li{
        line-height: 1.5;
     }
     .col-12 {
         margin-top: 5%;
         padding: 5%;
     }
     
     .領養須知 p {
         height: 100%;
         font-family: 微軟正黑體;
     }
                    h1 {
     padding: 0px;
     font-size: 50px ;
     font-family: 微軟正黑體;
     font-weight: 1000;
margin: 0px auto;
         writing-mode: horizontal-tb ; 

       align-items: center;
        justify-content: center;
        text-orientation: upright;

 }
 .col-md-2 {
    display: flex;
         align-items: center;
         width: 100%;
         justify-content: center;
         
 }
 .col-md-10{
         align-items: center;
         width: 100%;
         justify-content: center;
 }
 @media screen and (min-width:768px ){
    h1{
             writing-mode: vertical-lr !important;

    }
 }
 .text {
     padding: 5%;
    font-family: 微軟正黑體;
    font-weight: 300;
 }
 li{
list-style-type:none;
 }
     h1 {
         text-align: center;
     }
     
     h1 {
         color: #000;
         font-weight: 1500;
         font-family: 微軟正黑體;
     }
     
     .a1 h2 {
         border-bottom: 3px solid #000;
         width: 80%;
         font-weight: bold;
         font-family: 微軟正黑體;
         font-size: 35px;
         position: relative;
         left: 2%;
         padding: 5%;
         text-align: justify;
     }
     
      .a1 h2 img {
         width: 120px;
         height: 80px;
         padding: 0px 2%;
     }
     
      .a1 {
         float: right;
         height: 350px;
         width: 100%;
         padding: 0% 2%;
         background: #E9C8C8;
         margin: 10% 0px 0px 0px;
         overflow-y: auto;
     }
     
      .a1 p {
         padding: 3%;
         font-weight: bold;
         font-family: 微軟正黑體;
     }
     
     .content {
         background: rgba(213, 211, 211, 0.8);
     }
     .content-1{
        background: none !important;
     }
     
     .main-1 {
         border-bottom: 5px solid white
     }
     
     .main-2 {
         border-bottom: 5px solid white;
         padding: 0px 0px 10% 0px;
     }
     
     .數據 {
         position: relative;
         top: 0px;
         left: 0px;
         margin: 0px auto;
         color: #000;
     }
     
     .數據 p {
         padding: 0% 8%;
     }
     
     .灰字 {
         text-align: center;
         color: #2E2C2C
     }
     .text{
        font-size: 30px;
     }
     
     @media screen and (max-width: 1200px) {
         .main-2 {
             border-bottom: 0px solid white !important;
         }
         .main-1 {
             border-bottom: 0px solid white !important;
         }
         h1 {
             font-size: 40px ;
         }
         .text{
            font-size: 25px;
         }
     }

     @media screen and (max-width: 800px){
        .a1 h2 img {
         width: 100px;
         height: 60px;
         padding: 0px 2%;
     }
        h1{
            font-size: 30px;
        }
        p{
            font-size: 20px;
        }
        h2{
            font-size: 25px !important;
        }
     }