@media screen and (max-width: 1800px) {
    .main {
        margin: 18% 5% 0% 5%;
    }
    .bds1 {
        background-attachment: none !important;
    }
    .bds2 {
        background-attachment: none !important;
    }
    .bds3 {
        background-attachment: none !important;
    }
}

@media screen and (max-width: 1200px) {
    .main-2 .a1 {
        float: right;
        width: 75vw;
        height: 350px;
        font-size: 1.2em;
        padding: 0% 2%;
        background: #E9C8C8;
        margin: 10% 5% 0px 10%;
    }
    .bds1 {
        background-attachment: none !important;
    }
    .bds2 {
        background-attachment: none !important;
    }
    .bds3 {
        background-attachment: none !important;
    }
    .handnav {
        display: none !important;
    }
    body{
        font-size: 0.7em !important;
    }
    nav{
        height: 60px !important;
    }
    nav img{
        height: 50px !important;
    }
    .top img{
    width: 60px !important;
    height: 60px !important;

}
footer{
    height: 50px;
    line-height: 50px;
}
.photo img{
    width: 80px !important;height: 80px;
}
.photo1 img{
    width: 50%;height: 50%;
}
}